@import "variables";

@font-face {
  font-family: 'bear';
  src:  url('#{$icomoon-font-path}/bear.eot?4c0rkx');
  src:  url('#{$icomoon-font-path}/bear.eot?4c0rkx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/bear.ttf?4c0rkx') format('truetype'),
    url('#{$icomoon-font-path}/bear.woff?4c0rkx') format('woff'),
    url('#{$icomoon-font-path}/bear.svg?4c0rkx#bear') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.bear-head{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bear' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bear-head {
  &:before {
    content: $bear-head;
      font-size: 24px;
  }
}
